@font-face {
    font-family: 'MyFont';
    src: url('/static/main/font/font.otf') format('opentype');
}

*{
    color: #faffe0;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
body{
    background: linear-gradient(to left, #4e52b4, #5054d2, #3c41c7);
    background-repeat: repeat-y;
    display: inline-block;
    font-family: 'MyFont', sans-serif;
}
header{
    background: #777cff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #2f2f2f;
}
header h1{
    margin: 7px;
    margin-left: 2%;
    font-size: 70px;
}

p{
    margin: 0;
}

a{
    color: #faffe0;  
    text-decoration: rgb(175, 174, 154) 4px dotted underline;

    /* text-decoration: layer; */
}

header a{
    margin-right: 2%;
    font-size: 45px;
}

main{
    font-size: 30px;
}

iframe {
    border-radius: 5%;
}

.block_div {
    text-align: center;
    height: 200px;
    box-shadow: 2px 2px 10px black;
    margin: 20px;
    font-size: 30px;
    border-radius: 10px;
}