{% extends 'main/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'andrey/css/style.css' %}">
{% endblock %}

{% block header %}
<h1>Андрій</h1>
{% endblock %}

{% block main %}    
    <h1>Освіта</h1>
    <div class="content">
        <p>&nbsp Моя освіта почалася з навчання в школі НВК №131 (першій малюнок). Зараз я вже закінчую цю школу, будучи одинадцяти-класником".</p>
        <p>&nbsp Моє навчання программування почалося в школі "Логіка", та плавно перейшло до "World IT", де я також закончую навчання на третьому курсі</p>
    </div>
    <div class="additionalInfo">

    </div>
{% endblock %}