{% extends 'main/base.html' %}
{% load static %}

{% block links %}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div id="div_h1">
    <h1>Yaroslav Досягнення в програмуванні</h1>
</div>
<div id="div2">
    <div class="block_div">
        Вебзастосунок TastyTreats
    </div>
    Вебзастосунок TastyTreats
    <iframe height="500" width="500" src="https://testy-treats.p.goit.global/" frameborder="5"></iframe>
</div>
<div id="div3">
    <div class="block_div">
        Лендинг Ice cream
    </div>
    
    <iframe height="500" width="500" src="https://ice-cream-new.p.goit.global/" frameborder="5"></iframe>
</div>
{% endblock %}


