{% extends 'main/base.html' %}
{% load static %}

{% block links %}
{% endblock %}

{% block header %}
<h1>Ярослав</h1>
{% endblock %}

{% block main %}
<!-- <div id="div_h1">
    <h1>Yaroslav Досягнення в програмуванні</h1>
</div> -->
<div id="div3">
    <div class="block_div">
        Телеграм бот "Онлайн магазин"
        <p>Цей телеграм бот пропонує товари по типу навушників, компьютерів, ноутбуків, і т.д</p>
    </div>
</div>
<div id="div3">
        
    <div class="block_div">
        Онлайн ШІ телеграм ассистент
        <p>Асистент може відповісти на будь які питання
            Також він має багато функцій таких як створення фото, доповнення тексту, і т.д</p>
    </div>
</div>
<div id="div3", >
    <div class="block_div">
        Телеграм бот хрестики-нолики
        <p>Це звичайні хрестики нолики в телеграмі, там продумана ситстема ШІ, і дуже цікаво грати</p>
    </div>
</div>
{% endblock %}


