{% extends 'main/base.html'%}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'misha/css/style.css' %}">
{% endblock %}

{% block header %}
<h1>Михайло</h1>
{% endblock %}

{% block main %}
<p>
    Мені подобается грати у відеоігри такі як Counter Strike 2, Dota 2 та Geometry Dash. Я часто в них граю з друзями, бо разом грати набагато веселіше. 
    Коли я не хочу грати в ігри, я можу подивитися серіали або аніме. Зазвичай я дивлюся їх один.
    Інколи читаю книги. Мені не дуже подобаються книги зі шкільної програми, тому я сам шукаю в інтернеті, що я буду читати.
</p>

<img id="MishaHobby" src="https://st2.depositphotos.com/24580186/46510/v/450/depositphotos_465101388-stock-illustration-boy-reads-a-book-and.jpg" alt="">

<p>
    Але моє саме головне хобі - це програмування. Мені дуже подобається розробляти нові додатки, а особливо ігри.
</p>

<img id="MishaProgramming" src="https://24tv.ua/resources/photos/news/202002/1280012.jpg?v=1661271526000" alt="">
{% endblock %}