{% extends 'main/base.html'%}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'misha/css/style.css' %}">
{% endblock %}

{% block header %}
<h1>Михайло</h1>
{% endblock %}

{% block main %}
<p>
    Коли я зробів свої важливі справи, тобто у вільний час, я можу пограти у різні відеоігри - від шутерів до стратегій. 
    Якщо я не в настрої грати, то я можу подивитись серіал, почитати якусь книгу, або зателефонувати друзям та погуляти з ними.
    Я насолоджуюсь останнім, бо я почуваюсь файно у компанії своїх друзів.
</p>

<img id="MishaLeisure" src="https://i.pinimg.com/736x/21/2b/45/212b45474e7cd207dbbd84b6d6adf81f.jpg" alt="">
{% endblock %}