{% extends 'main/base.html'%}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'misha/css/style.css' %}">
{% endblock %}

{% block header %}
<h1>Михайло</h1>
{% endblock %}

{% block main %}
<p>
    Я навчався на курсі Python Logika, та отримав диплом WorldIt, за яким ви можете ознайомитися за 
    <a href="https://www.worldit.academy/certificate/validation/63/">посиланням</a>. 
    Під час навчання на курсах ми створювали програми у командах.
    Серед програм, що створили я і мої команди є 2D гра-платформер, редактор фото, музикальний плеєр та генератор QR-коду.
    Найбільше всього мені сподобалось розробляти 2D гру-платформер, бо я люблю розробляти різні ігри.
</p>
<img id="MishaProgramming" src="https://naurok.com.ua/uploads/blog/3012/1210.jpg" alt="">
{% endblock %}